* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(241, 242, 246);
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.clear::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

.mt {
  margin-top: 20px;
}
.mr {
  margin-right: 20px;
}
.mb {
  margin-bottom: 20px;
}
.ml {
  margin-left: 20px;
}

.center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical-center {
  display: flex;
  align-items: center;
}

.tac {
  text-align: center;
}
